body {
  margin: 0px;
}
.container_1 {
  display: flex;
  flex-flow: row wrap;
  font-size: 30px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  line-height: 1.3;
}

.navbar {
  width: 100%;
  background-color: #383737;
  position: fixed;
  height: 100px;
}

.dropbutton {
  font-size: 30px;
  height: 100px;
  border: none;
  color: #ffffff;
  background-color: inherit;
  margin-left: 10%;
}

.navlist {
  display: none;
  position: absolute;
  background-color: #333232;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 10%;
}

.navlist a {
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-align: left;
}

.dropdown:hover .navlist {
  display: block;
}

.navlist-item:hover {
  background-color: #383737;
}
.dropbutton::after {
  content: " \25BC";
  font-size: 70%;
}
.dropdown:hover .dropbutton::after {
  content: " \25B2";
}

#block-1 {
  background-color: #ffdaae;
  width: 30%;
  height: 100%;
  display: inline;
  float: left;
  margin: 100px 50px 50px 50px;
  padding-top: 200px;
}
#block-2 {
  background: linear-gradient(180deg, #fff8ee, #ffffff);
  padding-bottom: 100px;
  width: 100%;
}

#block-3 {
  background-color: #777777;
  color: #ffffff;
  width: 100%;
}

#block-4 {
  color: #383737;
  background-color: #fff8ee;
  padding-bottom: 100px;
  width: 100%;
}

#block-5 {
  width: 100%;
  background-color: #383737;
  color: #ffffff;
}

.connection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
}

.connection-item {
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.icon {
  height: 100px;
}

#my_photo {
  width: 100%;
  align-items: center;
  z-index: 4;
}

h1 {
  font-size: 96px;
  font-weight: normal;
  z-index: 5;
  margin-top: -250px;
}

h2 {
  font-size: 60px;
  font-weight: normal;
  margin: 0px;
  padding-bottom: 45px;
  padding-top: 90px;
}
h3 {
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
}

#block-2 h2 {
  color: #383737;
  margin-top: 50px;
}

.text {
  margin-left: 90px;
  margin-right: 70px;
  margin-bottom: 75px;
}

#block-3 ul {
  margin-left: 90px;
  margin-right: 70px;
  margin-bottom: 150px;
  line-height: 1.7;
  list-style-type: squares;
}

@media screen and (max-width: 992px) {
  h1 {
    margin-top: -150px;
    font-size: 74px;
  }
}

@media screen and (min-width: 2500px) {
  .container_1 {
    font-size: 70px;
  }
  h2 {
    font-size: 90px;
  }
  h3 {
    font-size: 80px;
    text-align: center;
  }
  .navbar {
    height: 200px;
  }
  .dropbutton {
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .navlist a {
    font-size: 50px;
  }
  #block-1 {
    padding-top: 200px;
    margin-top: 0px;
  }
  #block-2 {
    margin-top: 200px;
  }
  #block-3 ul {
    margin-left: 128px;
  }
}
